.c-card {
  padding: 0 12px;
  padding-top: 12px;
  .c-card__title {
    font-size: 10px;
    text-transform: uppercase;
  }
  .c-card__body {
    padding: 8px 16px;
    &:last-child {
      padding-bottom: 12px;
    }
  }
  .c-card__value {
    font-size: 14px;
  }
}
