.c-live-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #000000;
}

.c-live-image {
  background-color: #333333;
  height: 450px;
  width: 100%;
}

.c-live-image-body {
  width: 100%;
}
